.title_container {
    text-align: center;
    padding: 20px;
}

.calendar_day {
    text-align: right;
    padding: 20px;
    min-height: 100px;
    border: 1px solid #f4f4f4;
}

.calendar_day:hover {
    cursor: pointer;
    background-color: #eaeaea;
}

.date_label {
    font-size: 1.1em;
    font-weight: bold;
}

.calendar_titles {
    background-color: #094900;
    color: white;
}

.lessons_container {
    margin-top: 10px;
}

.lesson {
    font-size: .7em;
    text-align: left;
    color: #108200;
    margin-top: 5px;
}

.calendar_day.today {
    background-color: rgb(9, 73, 0);
    color: white;
}

.calendar_day.today:hover {
    background-color: rgba(9, 73, 0, .8);
}

.today .lesson {
    color: white;
}