<div class="student_marks_container">
    <link rel="stylesheet" href="diaryApp/students/marks/marks.css">
    <h2 class="inner_header">Успеваемость студента</h2>
    
    <div class="summary_container">
        <div class="summary_string" layout="row">
            <div class="summary_name" flex="20">Средний балл:</div>
            <div class="summary_value"> {{ marks.summary.average }}</div>
        </div>
        <div class="summary_string" layout="row">
            <div class="summary_name" flex="20">Пропусков:</div>
            <div class="summary_value"> {{ marks.summary.missed + " (" + marks.summary.percentMissed + "%)" }}</div>
        </div>
        <div class="summary_string" layout="row">
            <div class="summary_name" flex="20">Посещено часов:</div>
            <div class="summary_value"> {{ marks.summary.placed }}</div>
        </div>
    </div>
    <div class="marks_container" layout="column">
        <h3 class="inner_header_h3">По семестрам</h3>
        <md-table-container>
            <table class="marks_table">
                <thead>
                    <tr>
                        <!--<th>Название дисцплины</th>-->
                        <th ng-repeat="title in marks.helper.getTitles()">{{ title }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in marks.helper.getRows()">
                        <td ng-repeat="cell in row"> {{ cell }} </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <!--<div class="actions_block" layout="row" flex>
            <md-button class="green_btn"
                aria-label="cancel_btn"> Сброс </md-button>
            <md-button class="green_btn"
                aria-label="save_btn"> Сохранить </md-button>
        </div>-->
    </div>
</div>