<div class="teachers_diary_container">
    <link rel="stylesheet" href="diaryApp/teachers/diary/diary.css">
    <h2 class="inner_header">Журнал успеваемости</h2>
        <div class="select_params_container" layout="row">
            <md-select ng-model="diary.currentTroop"
                    placeholder="Взвод"
                    ng-change="diary.changeParams($event)">
                <md-option ng-selected="$index==0" ng-value="troop" ng-repeat="troop in diary.data.troops">
                    {{ troop.name }}
                </md-option>
            </md-select>
            <md-select ng-model="diary.currentSubject"
                    placeholder="Предмет"
                    ng-change="diary.changeParams($event)">
                <md-option ng-selected="$index==0" ng-value="subject" ng-repeat="subject in diary.currentTroop.subjects">
                    {{ subject.name }}
                </md-option>
            </md-select>
        </div>
        <md-table-container class="diary_table_container">
            <table class="diary_table">
                <thead>
                    <tr>
                        <th flex ng-repeat="title in diary.diaryHelper.getTitles()">{{ title }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in diary.diaryHelper.getRows()">
                        <td flex ng-repeat="cell in row track by $index">
                             <md-checkbox class="placed_in"
                                          ng-if="cell.options.isDiaryDay" 
                                          ng-model="cell.value.presence"
                                          aria-label="presenceCheckbox"
                                          ng-change="diary.changePresence(cell)"></md-checkbox>
                             <!--<span ng-if="!cell.options.editable">{{ cell.value }}</span>-->
                             <md-button ng-if="!cell.options.editable" ng-click="diary.getStudentInfo($event, cell)" aria-label="student_name_btn"> {{ cell.value.name }} </md-button>
                             <md-input-container ng-if="cell.options.editable && cell.value.presence">
                                <input type="number"
                                       max="5"
                                       min="0"
                                       step="0.1"
                                       class="marks_field"
                                       ng-model="cell.value.marks"
                                       ng-disabled="!cell.value.presence"
                                       aria-label="marks_field">
                             </md-input-container>
                             <md-button class="reason_absence_btn"
                                        aria-label="reason_absence"
                                        ng-click="diary.openReasonDialog($event, row[0].value, cell.options.titleName)"
                                        ng-if="cell.options.editable && !cell.value.presence"> Причина </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <div class="actions_block" layout="row" flex>
            <md-button class="green_btn" ng-click="diary.clear()"
                       aria-label="cancel_btn"> Отмена </md-button>
            <md-button class="green_btn" ng-click="diary.saveData()"
                       aria-label="save_btn"> Сохранить </md-button>
        </div>
    </div>
</div>