<div class="authContainer" ng-enter="auth.authorize(form)">
    <link rel="stylesheet" href="diaryApp/auth/auth.css">
    <div class="authForm" layout="column">
        <h2>Авторизация</h2>
        <md-input-container>
           <input name="student_card_number"
                  type="text"
                  ng-model="form.login" 
                  minlength="0"
                  placeholder="Введите логин"
                  aria-label="login">
        </md-input-container>
        <md-input-container>
           <input name="password"
                  type="password"
                  ng-model="form.password"
                  minlength="0"
                  placeholder="Введите пароль"
                  aria-label="password">
        </md-input-container>
        <md-button ng-click="auth.authorize(form)"
                   id="auth_btn"
                   class="auth_btn auth_form_btn"
                   aria-label="auth-btn"> Вход </md-button>
        
        <md-button ng-click="auth.addStudent($event)"
                   id="add_student_btn"
                   class="add_student_btn auth_form_btn"
                   aria-label="add-student-btn"> Добавить студента </md-button>

        <md-button ng-click="auth.registerTeacher($event)"
                   id="register_teacher_btn"
                   class="register_teacher_btn auth_form_btn"
                   aria-label="register-teacher-btn"> Регистрация преподавателя </md-button>
    </div>
</div>