<div class="teachers_profile_container">
    <link rel="stylesheet" href="diaryApp/teachers/profile/profile.css">
    <h2 class="inner_header">Профиль преподавателя</h2>
    
    <div class="profile_field" layout="column">
        <div layout="row">
            <div class="card_left_column" flex="80">
                <div class="edited_string">
                    <md-input-container flex class="field-container">
                        <input name="name"
                            type="text"
                            ng-model="profile.teacher.name"
                            placeholder="Имя"
                            aria-label="name">
                    </md-input-container>
                    <md-input-container flex class="field-container">
                        <input name="surname"
                            type="text"
                            ng-model="profile.teacher.surname"
                            placeholder="Фамилия"
                            aria-label="surname">
                    </md-input-container>
                    <md-input-container flex class="field-container">
                        <input name="father_name"
                            type="text"
                            ng-model="profile.teacher.fatherName"
                            placeholder="Отчество"
                            aria-label="father_name">
                    </md-input-container>
                </div>

                <div class="edited_string">
                    <md-input-container flex="50" class="field-container">
                        <input name="teacher_passport"
                            type="text"
                            ng-model="profile.teacher.teacher_passport"
                            placeholder="Паспорт (серия, номер)"
                            aria-label="teacher_passport">
                    </md-input-container>
                    <div class="h_flex_centered field-container" flex>
                        <md-button id="change_pass_btn"
                                ng-click="profile.startChangePassDialog($event)"
                                class="green-btn md-raised"
                                aria-label="change_pass_btn"> Изменить пароль </md-button>
                    </div>
                </div>
                <div class="edited_string">
                    <md-input-container flex="50" class="field-container">
                        <input name="birth_place"
                            type="text"
                            ng-model="profile.teacher.birthPlace"
                            placeholder="Место рождения"
                            aria-label="birthPlace">
                    </md-input-container>
                    <div class="h_flex_centered field-container" flex>
                        <!--Сделать более удобным выбор года, месяца и дня-->
                        <md-datepicker ng-model="profile.teacher.birthDate"
                                    md-placeholder="Дата рождения"></md-datepicker>
                    </div>
                    
                </div>
                <div class="edited_string">
                    <md-input-container flex class="field-container">
                        <input name="education"
                            type="text"
                            ng-model="profile.teacher.education"
                            placeholder="Образование"
                            aria-label="education">
                    </md-input-container>
                    <md-input-container flex class="field-container">
                        <input name="military"
                            type="text"
                            ng-model="profile.teacher.military"
                            placeholder="Воинское звание"
                            aria-label="military">
                    </md-input-container>
                    <md-input-container flex class="field-container">
                        <input name="appointment"
                            type="text"
                            ng-model="profile.teacher.appointment"
                            placeholder="Должность на кафедре"
                            aria-label="appointment">
                    </md-input-container>
                </div>
                <div class="edited_string">
                    <md-input-container flex="30" class="field-container">
                        <label>Начало работы</label>
                        <md-select flex 
                                ng-model="profile.teacher.start_year"
                                placeholder="Начало работы">
                            <md-option ng-value="year" ng-repeat="year in profile.years">
                                {{ year }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="edited_string">
                    <md-input-container flex class="field-container">
                        <input name="address"
                            type="text"
                            ng-model="profile.teacher.address"
                            placeholder="Адрес преподавателя"
                            aria-label="address">
                    </md-input-container>
                </div>

                <div class="documents_block" flex>
                    <h3 class="inner_header inner_h3">Документы</h3>
                    <div class="edited_string docs_string" layout="row">
                        <div class="doc_container" ng-repeat="doc in profile.teacher.docs" layout="column">
                            <div class="doc_cover_container" layout="column">
                                <md-button class="md-icon-button remove_btn"
                                           ng-click="profile.startDeleteDocDialog($event, doc)">
                                    <md-icon md-font-library="material-icons">delete</md-icon>
                                </md-button>
                                <img  ng-click="profile.showPopupImage(doc.cover)"
                                      class="doc_cover"
                                      ng-src="{{doc.cover}}" 
                                      alt="{{doc.name}}">
                            </div>
                            <span class="doc_name">{{doc.name}}</span>
                        </div>
                        <div class="doc_container">
                            <md-button ng-click="profile.startAddDocDialog($event)" class="md-fab" aria-label="add_doc"> + </md-button>
                        </div>
                       
                    </div>
                </div>
            </div>

            <div class="card_right_column" layout="column" flex="20">
                <div class="preview_teacher_photo_container">
                    <img class="teacher_photo" 
                         ng-src="{{ profile.teacher.preview_img }}"
                         ng-click="profile.showPopupImage(profile.teacher.preview_img)"
                         alt="Фото студента"
                         aria-label="teacher_photo">
                </div>
                
                <file-download id="download_photo_btn"
                               download_file="profile.teacher_cover"
                               preview="profile.teacher.preview_img"
                               class="teacher_photo green_btn"
                               label_button="Загрузить фото">
                </file-download>
            </div>

        </div>
        <div class="actions_block" layout="row" flex>
            <md-button class="green_btn" ng-click="profile.clear()"
                aria-label="cancel_btn"> Сброс </md-button>
            <md-button class="green_btn" ng-click="profile.saveData()"
                aria-label="save_btn"> Сохранить </md-button>
        </div>
    </div>
</div>