md-input-container label,
md-input-container.md-input-has-value label,
md-input-container .md-placeholder,
md-input-container .md-select-value {
    color: rgba(0, 0, 0, .6)!important;
    border-color: rgba(63, 63, 63, .5);
}

md-input-container .md-input,
md-input-container .md-select-value span {
    color: #373737;
}

.edited_string {
    display: flex;
    align-items: center;
}

.card_right_column {
    padding: 20px;
    align-items: center;
    display: flex;
}

.h_flex_centered {
    display: flex;
    justify-content: center;  
}

.field-container {
    margin-left: 10px;
}

.actions_block {
    justify-content: flex-end;
}

.md-button.green_btn {
    color: rgb(28, 112, 0);
}

.green_btn button {
    color: rgb(28, 112, 0);
}

/*.md-raised.green-btn {
    color: white;
    background-color: rgb(28, 112, 0);
}*/

.doc_container {
    padding: 10px;
    align-items: center;
    width: 200px;
    display: flex;
    justify-content: center;
}

.doc_container span {
    margin-top: 10px;
}

.md-button.md-fab {
    background-color: #007200!important;
    font-size: 1.3em;
}

.md-button.md-fab:hover {
    background-color: #008f00!important;
}

.teacher_photo,
.doc_cover {
    width: 100%;
    max-height: 100%;
}

.preview_teacher_photo_container,
.doc_cover_container {
    width: 150px;
    height: 200px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}

.docs_string {
    width: 100%;
    overflow-x: auto;
}

.doc_cover_container {
    position: relative;
}

.remove_btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    display: none;
}

.remove_btn:hover md-icon{
    color: red;
}

.doc_container:hover .remove_btn {
    display: block;
}