<div class="students_profile_container">
    <link rel="stylesheet" href="diaryApp/students/profile/profile.css">
    <h2 class="inner_header">Карточка студента</h2>
    
    <div class="profile_field" layout="column">
        <div layout="row">
            <div class="card_left_column" flex="80">
                <div class="edited_string">
                    <md-input-container flex class="field-container">
                        <input name="name"
                            type="text"
                            ng-model="profile.student.name"
                            placeholder="Имя"
                            aria-label="name">
                    </md-input-container>
                    <md-input-container flex class="field-container">
                        <input name="surname"
                            type="text"
                            ng-model="profile.student.surname"
                            placeholder="Фамилия"
                            aria-label="surname">
                    </md-input-container>
                    <md-input-container flex class="field-container">
                        <input name="father_name"
                            type="text"
                            ng-model="profile.student.fatherName"
                            placeholder="Отчество"
                            aria-label="father_name">
                    </md-input-container>
                </div>

                <div class="edited_string">
                    <md-input-container flex="50" class="field-container">
                        <input name="student_card_number"
                            type="text"
                            ng-model="profile.student.student_card_number"
                            placeholder="Номер студенческого"
                            aria-label="student_card_number">
                    </md-input-container>
                    <div class="h_flex_centered field-container" flex>
                        <md-button id="change_pass_btn"
                                ng-click="profile.startChangePassDialog($event)"
                                class="green-btn md-raised"
                                aria-label="change_pass_btn"> Изменить пароль </md-button>
                    </div>
                </div>
                <div class="edited_string">
                    <md-input-container flex="50" class="field-container">
                        <input name="birth_place"
                            type="text"
                            ng-model="profile.student.birthPlace"
                            placeholder="Место рождения"
                            aria-label="birthPlace">
                    </md-input-container>
                    <div class="h_flex_centered field-container" flex>
                        <!--Сделать более удобным выбор года, месяца и дня-->
                        <md-datepicker ng-model="profile.student.birthDate"
                                    md-placeholder="Дата рождения"></md-datepicker>
                    </div>
                    
                </div>
                <div class="edited_string">
                    <md-input-container flex class="field-container">
                        <input name="education"
                            type="text"
                            ng-model="profile.student.education"
                            placeholder="Образование"
                            aria-label="education">
                    </md-input-container>
                    <md-input-container flex class="field-container">
                        <input name="military"
                            type="text"
                            ng-model="profile.student.military"
                            placeholder="Служба в армии, звание"
                            aria-label="military">
                    </md-input-container>
                </div>
                <div class="edited_string">
                    <md-input-container flex="20" class="field-container">
                        <label>Факультет</label>
                        <md-select flex 
                                ng-model="profile.student.faculty"
                                placeholder="Факультет">
                            <md-option ng-value="faculty" ng-repeat="faculty in profile.config.faculties">
                                {{ faculty }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="30" class="field-container">
                        <label>Год приема</label>
                        <md-select flex 
                                ng-model="profile.student.start_study_year"
                                placeholder="Год приема">
                            <md-option ng-value="year" ng-repeat="year in profile.years">
                                {{ year }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex class="field-container">
                        <label>Заключение ВВК</label>
                        <md-select flex 
                                ng-model="profile.student.conclusion"
                                placeholder="Заключение ВВК">
                            <md-option ng-value="conclusion" ng-repeat="conclusion in profile.config.conclusions">
                                {{ conclusion }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="edited_string">
                    <md-input-container flex class="field-container">
                        <input name="address"
                            type="text"
                            ng-model="profile.student.address"
                            placeholder="Адрес студента"
                            aria-label="address">
                    </md-input-container>
                </div>
                <div class="edited_string">
                    <md-input-container flex class="field-container">
                        <input name="parents_address"
                            type="text"
                            ng-model="profile.student.parents_address"
                            placeholder="Адрес родителей студента"
                            aria-label="parents_address">
                    </md-input-container>
                </div>

                <div class="documents_block" flex>
                    <h3 class="inner_header inner_h3">Документы</h3>
                    <div class="edited_string docs_string" layout="row">
                        <div class="doc_container" ng-repeat="doc in profile.student.docs" layout="column">
                            <div class="doc_cover_container" layout="column">
                                <md-button class="md-icon-button remove_btn"
                                           ng-click="profile.startDeleteDocDialog($event, doc)">
                                    <md-icon md-font-library="material-icons">delete</md-icon>
                                </md-button>
                                <img popup-image class="doc_cover" ng-src="{{doc.cover}}" alt="{{doc.name}}">
                            </div>
                            <span class="doc_name">{{doc.name}}</span>
                        </div>
                        <div class="doc_container">
                            <md-button ng-click="profile.startAddDocDialog($event)" class="md-fab" aria-label="add_doc"> + </md-button>
                        </div>
                       
                    </div>
                </div>
            </div>

            <div class="card_right_column" layout="column" flex="20">
                <div class="preview_student_photo_container">
                    <img class="student_photo" 
                         ng-src="{{ profile.student.preview_img }}"
                         popup-image
                         alt="Фото студента"
                         aria-label="student_photo">
                </div>
                
                <file-download id="download_photo_btn"
                               download_file="profile.student_cover"
                               preview="profile.student.preview_img"
                               class="student_photo green_btn"
                               label_button="Загрузить фото">
                </file-download>
            </div>

        </div>
        <div class="actions_block" layout="row" flex>
            <md-button class="green_btn"
                aria-label="cancel_btn"> Сброс </md-button>
            <md-button class="green_btn"
                aria-label="save_btn"> Сохранить </md-button>
        </div>
    </div>
</div>