<link rel="stylesheet" href="diaryApp/students/profile/views/changePasswordDialog.css">
<md-dialog aria-label="change_pass_dialog">
   <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="inner_header">Изменение пароля</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="profile.dialogCancel()">
          <md-icon md-font-library="material-icons" style="font-size: 15px">close</md-icon>
        </md-button>
      </div>
   </md-toolbar>
   <md-dialog-content class="change_pass_content" layout="column">
       <!--<h2 class="inner_header">Изменение пароля</h2>-->
       <div class="change_pass_container" layout="column">
           <md-input-container>
                <input name="old_pass"
                       type="password"
                       ng-model="pass.old"
                       placeholder="Введите старый пароль"
                       aria-label="old_pass">
            </md-input-container> 
            <md-input-container>
                <input name="new_pass"
                       type="password"
                       ng-model="pass.new"
                       placeholder="Введите новый пароль"
                       aria-label="new_pass">
            </md-input-container> 
            <md-input-container>
                <input name="new_pass_confirm"
                       type="password"
                       ng-model="pass.new_confirm"
                       placeholder="Подтвердите новый пароль"
                       aria-label="new_pass_confirm">
            </md-input-container>       
       </div>
      
   </md-dialog-content>
   <md-dialog-actions>
        <span flex></span>
        <md-button aria-label="doneBtn" ng-click="profile.dialogDone(pass)">
        	Изменить
        </md-button>
        <md-button aria-label="cancelBtn" ng-click="profile.dialogCancel()">
            Отмена
        </md-button>
   </md-dialog-actions>
</md-dialog>