<link rel="stylesheet" href="diaryApp/students/profile/views/addDocDialog.css">
<md-dialog aria-label="add_doc_dialog">
   <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="inner_header">Добавление документа</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="profile.dialogCancel()">
          <!--<md-icon md-font-library="material-icons">close</md-icon>-->
        </md-button>
      </div>
   </md-toolbar>
   <md-dialog-content class="add_doc_dialog_content" layout="column">
       <!--<h2 class="inner_header">Добавление документа</h2>-->
       <div class="doc_add_container" layout="column">
        <div class="add_doc_row" layout="row">
            <md-input-container>
                <input name="doc_name"
                       type="text"
                       ng-model="doc.name"
                       placeholder="Название документа"
                       aria-label="doc_name">
            </md-input-container>
            <file-download id="download_doc_btn"
                        download_file="doc.file"
                        class="add_doc green_btn"
                        preview="doc_preview"
                        label_button="Выберите файл">
            </file-download>
        </div>
        <div class="doc_preview_container">
             <img class="doc_photo" 
                  ng-src="{{ doc_preview || docPlaceholder }}"
                  alt="Превью документа">
        </div>
       
       </div>
      
   </md-dialog-content>
   <md-dialog-actions>
        <span flex></span>
        <md-button aria-label="doneBtn" ng-click="profile.dialogDone(doc)">
        	Добавить
        </md-button>
        <md-button aria-label="cancelBtn" ng-click="profile.dialogCancel()">
            Отмена
        </md-button>
   </md-dialog-actions>
</md-dialog>