<div class="admin_view_container" layout="row" flex>
    <md-sidenav flex
                md-is-open="true"
                layout="column"
                md-component-id="left"
                class="md-sidenav-left md-whiteframe-z2"
                md-is-locked-open="true">
        <md-toolbar layout="row">
            <div class="menu-header-label">Меню</div>
        </md-toolbar>
        <md-content flex id="content" flex role="navigation">
            <md-button ui-sref="admin.profile"  class="menu-row" badge-menu layout="row" >
                <span class="menu-label">Списки</span>
            </md-button>
            <md-button ng-click="logout()" ui-sref="auth" id="logout"  class="menu-row" badge-menu layout="row" >
                <span class="menu-label">Выход</span>
            </md-button>
        </md-content>

    </md-sidenav>
</div>
<div class="table_student_teacher" ng-app="app.admin">
    <div class="tab-menu">
        <input type="radio" name="tab" id="t1" checked>
        <label for="t1" >Студенты</label>
        <input type="radio" name="tab" id="t2">
        <label for="t2">Преподаватели</label>

        <div id="content-in-tab" ng-controller="AdminController">
            <div class="student_content">
                <table class="table_student">
                    <tr class="right_align">
                        <th class="column_1"></th>
                        <th class="column_2">№</th>
                        <th class="column_3">ФИО</th>
                        <th class="column_4">Взвод</th>
                        <th class="column_5">Курс</th>
                        <th class="column_6"></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>-</td>
                        <td>
                            <input type="text" style="width:100%">
                        </td>
                        <td>
                            <input type="text" style="width:100%">
                        </td>
                        <td>
                            <input type="text" style="width:100%">
                        </td>
                        <td >
                            <img class="img_search" src="/diaryApp/admin/img/Search.png">
                            <img class="img_search" src="/diaryApp/admin/img/Add.png" ng-click="addStudent()">
                        </td>
                    </tr>
                    <tr class="hover_string"  ng-repeat="item in data">
                        <td>
                            <input type="checkbox" style="margin-left:38%">
                        </td>
                        <td>{{item.num}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.squad}}</td>
                        <td>{{item.course}}</td>
                        <td class="table_changing">
                            <img class="img_remove" src="/diaryApp/admin/img/Remove.png" ng-click="removeStudent($index)">
                            <img class="img_edit" src="/diaryApp/admin/img/Edit.png">
                        </td>
                    </tr>
                </table>
                <table table class="table_student">
                    <tr class="right_align">
                        <td class="column_1">
                            <input type="checkbox" style="margin-left:38%">
                        </td>
                        <td class="column2_end">
                            <a href="#">Удалить</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="teacher_content">
                <table class="table_student">
                    <tr class="right_align">
                        <th class="column_1"></th>
                        <th class="column_2">№</th>
                        <th class="column_3">ФИО</th>
                        <th class="column_4"></th>
                        <th class="column_5"></th>
                        <th class="column_6"></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>-</td>
                        <td>
                            <input type="text" style="width:100%">
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td >
                            <img class="img_search" src="/diaryApp/admin/img/Search.png">
                            <img class="img_search" src="/diaryApp/admin/img/Add.png" ng-click="addTeacher()">
                        </td>
                    </tr>
                    <tr class="hover_string" ng-repeat="item in data_tc">
                        <td>
                            <input type="checkbox" style="margin-left:38%">
                        </td>
                        <td>{{item.num}}</td>
                        <td>{{item.name}}</td>
                        <td></td>
                        <td></td>
                        <td class="table_changing">
                            <img class="img_remove" src="/diaryApp/admin/img/Remove.png" ng-click="removeTeacher($index)">
                            <img class="img_edit" src="/diaryApp/admin/img/Edit.png">
                        </td>
                    </tr>
                </table>
                <table table class="table_student">
                    <tr class="right_align">
                        <td class="column_1">
                            <input type="checkbox" style="margin-left:38%">
                        </td>
                        <td id="column2_end">
                            <a href="#">Удалить</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


