<div>
    <div class="table_student_teacher">
        <div class="tab-menu">
            <div class="top-view">Дисциплины</div>
            <div id="content-in-tab">
                <div class="student_content">
                    <table class="table_student">
                        <tr class="right_align">
                            <th class="column_1">№</th>
                            <th class="column_2">Название</th>
                            <th class="column_3">Преподаватель</th>
                            <th class="column_4"></th>
                            <th class="column_5"></th>
                            <th class="column_6"></th>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="text" style="width:100%" ></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a title="Добавить дисциплину">
                                    <img class="img_search" src="/diaryApp/admin/img/Add.png" ng-click="addDiscipline($event)">
                                </a>
                            </td>
                        </tr>
                        <tr class="hover_string" ng-repeat="item in dis_data">
                            <td style="margin-right: 20%">
                                <input type="checkbox" style="margin-right: 20%;">
                            </td>
                            <td>{{item.num}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.teacher}}</td>
                            <td></td>
                            <td class="table_changing">
                                <table>
                                    <tr>
                                        <td>
                                            <a title="Добавить группу">
                                                <img class="img_edit" src="/diaryApp/admin/img/Add.png" ng-click="addDiscGroup($event)">
                                            </a>
                                        </td>
                                        <td>
                                            <a title="Изменить">
                                                <img class="img_remove" src="/diaryApp/admin/img/EditLP.png"
                                                     ng-click="remakeDiscGroup($index)">
                                            </a>
                                        </td>
                                        <td>
                                            <a title="Удалить">
                                                <img class="img_remove" src="/diaryApp/admin/img/Remove.png"
                                                     ng-click="removeTeacher($index)">
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table table class="table_student">
                        <tr class="right_align">
                            <td class="column1">
                                <a href="#" style="text-decoration: none" ng-click="deleteStudents()">
                                    <div class="delete">
                                        Удалить
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
