.popup_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 999999;
    text-align: center;
}

.popup_image {
    margin-top: 100px;
}