<link rel="stylesheet" href="diaryApp/teachers/diary/views/reasonDialog.css">
<md-dialog aria-label="add_doc_dialog">
   <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="inner_header">Причина отсутствия</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="diary.dialogCancel()">
          <md-icon md-font-library="material-icons">close</md-icon>
        </md-button>
      </div>
   </md-toolbar> 
   <md-dialog-content class="dialog_content" layout="column">
       <!--<h2 class="inner_header">Причина отсутствия</h2>-->
       <div class="info_block">
           <span class="reason_head_label">{{student.name}}</span><br>
           <span class="reason_head_label">{{date}}</span>
       </div>
       
       
       <md-input-container>
          <textarea ng-model="reason.note"
                    placeholder="Описание причины"></textarea>
       </md-input-container>
       <div class="doc_add_container" layout="column">
           <h3 class="inner_header_h3">Подтверждающие документы</h3>
           <div class="docs" layout="row">
                <div class="doc_container" ng-repeat="doc in diary.day.docs" layout="row">
                    <div class="doc_cover_container" layout="column">
                        <md-button class="md-icon-button remove_btn"
                                    ng-click="profile.startDeleteDocDialog($event, doc)">
                            <md-icon md-font-library="material-icons">delete</md-icon>
                        </md-button>
                        <img class="doc_cover" ng-click="diary.showPopupImage(doc.cover)" ng-src="{{doc.cover}}" alt="{{doc.name}}"/>
                    </div>
                </div>
                <file-download id="download_doc_btn"
                            download-file="reason.file"
                            class="add_doc green_btn"
                            button-class="md-fab"
                            preview="doc_preview"
                            on-file-load="diary.onDocLoad"
                            label-button="+"></file-download>
           </div>
       </div>
      
   </md-dialog-content>
   <md-dialog-actions>
        <span flex></span>
        <md-button aria-label="doneBtn" ng-click="diary.dialogDone(reason)">
        	Сохранить
        </md-button>
        <md-button aria-label="cancelBtn" ng-click="diary.dialogCancel()">
            Отмена
        </md-button>
   </md-dialog-actions>
</md-dialog>